{% load i18n %}
{% load money %}

{% if payment_info %}
    <dl class="dl-horizontal">
        {% if payment_info.send_invoice_to %}
            <dt>{% trans "Send invoice to" %}</dt>
            <dd>{{ payment_info.send_invoice_to }}</dd>
        {% endif %}
        {% if payment_info.payer %}
            <dt>{% trans "Payer" %}</dt>
            <dd>{{ payment_info.payer }}</dd>
        {% endif %}
        {% if payment_info.iban %}
            <dt>{% trans "Account" %}
            <dd>
                {{ payment_info.iban }} {{ payment_info.bic }}
                {% if warning %}
                    <span class="fa fa-exclamation-triangle text-danger" data-toggle="tooltip" title=""
                          data-original-title="{{ warning }}"></span>
                {% endif %}
            </dd>
        {% endif %}
        {% if payment_info.date %}
            <dt>{% trans "Payment date" %}</dt>
            <dd>{{ payment_info.date }}</dd>
        {% endif %}
        {% if payment_info.reference %}
            <dt>{% trans "Transfer amount" %}</dt>
            <dd>{{ payment_info.full_amount }}</dd>
        {% endif %}
    </dl>
{% else %}
    <dl class="dl-horizontal">
        {% if verification_code %}
            <dt>{% trans "Payment code" %}</dt>
            <dd><strong>{{ verification_code }}</strong></dd>
        {% endif %}
        {% if amount %}
            <dt>{% trans "Expected transfer amount" %}</dt>
            <dd>{{ amount|money:event.currency }}</dd>
        {% endif %}
    </dl>
{% endif %}
{% if proof %}
    <dl class="dl-horizontal">
        <dt>{% trans "Proof of payment" %}</dt>
        <dd>
            <a href="{% url "plugins:banktransfer_custom:proof.download" organizer=event.organizer.slug event=event.slug code=order.code payment=payment.pk %}">
                {{ proof.filename }}
            </a>
            <span class="text-muted">
                ({% blocktrans trimmed with date=proof.uploaded|date:"SHORT_DATETIME_FORMAT" %}
                    uploaded {{ date }}
                {% endblocktrans %})
            </span>
        </dd>
    </dl>
{% endif %}
